@font-face {
	font-family: "Regular";
	src: local("GothicA1-Regular"), url("./fonts/GothicA1-Regular.ttf") format("truetype");
}

.App {
	text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo-alisa {
	margin: 33px;
}

.list-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.item-nav {
	float: left;
	margin: 7px 60px;
	font-family: "Regular";
	font-size: 30px;
}

.portrait {
	margin-top: 43px;
}

.photo-grid {
	background-color: rgba(182, 181, 179, 1);
	padding: 50px 28px;
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 15px;
	grid-auto-flow: column;
}

.photo-item {
	min-width: 0;
	height: 735px;
	overflow: hidden;
	margin: 0;
}

img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	margin: 0;
}

.footer-black {
	max-width: 100vw;
	height: 100px;
	background-color: black;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.footer-gray {
	max-width: 100vw;
	height: 100px;
	background-color: rgba(182, 181, 179, 1);
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 28px;
	align-items: center;
	column-gap: 15px;
}

.footer-icons {
	margin: 0 auto;
	column-gap: 15px;
	min-width: 155px;
  display: flex;
	justify-content: space-between;
}

.footer-text {
	margin: 0;
}

.footer-text {
	font-family: "Regular";
  
}